/* news-styles.css */

/* Contenedor de Noticias */
#newsContainer {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#newsContainer article {
    padding: 15px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
